<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit record</title>
    <link rel="stylesheet"  href="{%static '/css/DLS.css'%}"
  </head>
  <body>
    <div class="header">
      <h1>Library Digital System</h1>
      <div class="nav">
        <a class='btn' href="/DLS/view-books">View</a>
        <a  class='btn' href="/DLS/new-books">Add</a>
        <a class='btn' href="/DLS/search-books">Search</a>
      </div>
    </div>

    <div class="main">
      <h3>Edit Book Record</h3>
      <form class="" action="/DLS/edit" method="post">
        {% csrf_token %}
        <input type="hidden" name="bookid"  value="{{book.id}}">
        {{form}}
        <br>
        <input class='input' type="submit" name="" value="save">
      </form>

    </div>

  </body>
</html>
